<header>
    <h1 href="#" class="mb-4 text-3xl">Yembis</h1>
    <nav>
        <li><a href="#home" class="mb-4 text-2xl">Home</a> </li>
        <li><a href="#dashboards" class="mb-4 text-2xl">Dashboards</a> </li>
        
        <li><a href="#cameras" class="mb-4 text-2xl">camera's beheren</a></li>

        <li><a href="#contacts" class="mb-4 text-2xl">About us</a> </li>

    </nav>
</header>

<section class="hero" id="home">
    <div class="background-image" style="background-image: url(../../assets/cars_filter.jpg)"></div>
    <div class="hero-content-area">
        <h1>Roadwatch</h1>
        <h3> The goal of Roadwatch & results</h3>
        <a href="#dashboards" class="btn">our dashboards</a>
    </div>

</section>

<section class="destinations pb-0" id="dashboards">
    <h3 class="title">Dashboards</h3>
    <iframe
        src="https://exmqkxd10om8pur.eu.qlikcloud.com/single/?appid=11ba8ced-6130-49f2-b539-59c1118582cf&sheet=8a74950a-d00c-464d-9d52-58f2f6b0d82b&theme=horizon&opt=ctxmenu,currsel&select=clearall"
        style="border:none;width:100%;height:100%;">
    </iframe>
    <hr>
    <iframe
        src="https://exmqkxd10om8pur.eu.qlikcloud.com/single/?appid=11ba8ced-6130-49f2-b539-59c1118582cf&sheet=5d86c5de-3611-4261-b4bb-99ded9362cd9&theme=horizon&opt=ctxmenu,currsel&select=clearall"
        style="border:none;width:100%;height:100%;">
    </iframe>
    <hr>
    <iframe
        src="https://exmqkxd10om8pur.eu.qlikcloud.com/single/?appid=11ba8ced-6130-49f2-b539-59c1118582cf&sheet=e48e8df5-4bfd-4870-b8bb-66f4f51e8af8&theme=horizon&opt=ctxmenu,currsel&select=clearall"
        style="border:none;width:100%;height:100%;">
    </iframe>
    <hr>


</section>




<section class="camera align-middle" id="cameras">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg mb-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Camera gegevens aanpassen
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">aanpassingen maken</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-6">
                                    <label for="recipient-name" class="col-form-label">Gemeente</label>
                                    <input type="text" class="form-control" id="recipient-name">
                                </div>
                                <div class="col-6">
                                    <label for="recipient-name" class="col-form-label">Longtitude</label>
                                    <input type="text" class="form-control" id="recipient-name">
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-6">
                                    <label for="recipient-name" class="col-form-label">Adres</label>
                                    <input type="text" class="form-control" id="recipient-name">
                                </div>
                                <div class="col-6">
                                    <label for="recipient-name" class="col-form-label">Latitude</label>
                                    <input type="text" class="form-control" id="recipient-name">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <label for="recipient-name" class="col-form-label">snelheids limiet</label>
                                    <input type="number" class="form-control" id="recipient-name">
                                </div>
                                <div class="col-1 form-check form-switch">
                                    <label for="recipient-name" class="col-form-label ">vrachtwagevrijezone</label>
                                    <input type="checkbox" class="form-control form-check-input ml-1" id="">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <label for="recipient-name" class="col-form-label">Beginperiode</label>
                                    <input type="text" class="form-control" id="recipient-name">
                                </div>
                                <div class="col-6">
                                    <label for="recipient-name" class="col-form-label">Eindperiode</label>
                                    <input type="text" class="form-control" id="recipient-name">
                                </div>
                            </div>
                          
                        </div>
                        
                      </form>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact" id="contacts">
    <h3 class="title">About Us</h3>
    <h4>Yembis &amp; Cipal Schaubroek</h4>
    <p class="col-6 justify-center m-3 aboutus mb-5">
        Yembis is een project van studenten aan de ITFactory van Thomas More Geel, in opdracht voor Cipal Schaubroeck.
        Onze missie was om een proof of concept te ontwikkelen voor een goedkopere verkeerscamera met geavanceerde visuele
        analyse van verkeersdata.
        Ons doel was om Cipal Schaubroeck te helpen beter geïnformeerde beslissingen te nemen over het plaatsen van
        verkeerscamera's en trajectcontroles.
        Door middel van onze camera met data-analyse, kunnen ze een duidelijk beeld krijgen van de verkeerssituaties op
        verschillende locaties en de effectiviteit van hun huidige verkeersmaatregelen beoordelen.
        We zijn trots op het resultaat van ons harde werk en hopen dat onze oplossing Cipal Schaubroeck kan helpen om
        verkeersveiligheid te verbeteren en efficiëntere verkeersbeslissingen te nemen.
    </p>


    <hr>
</section>

<footer>
    <ul>
        <li><a href="https://twitter.com/YembisTM"><i class="fa fa-twitter-square"></i></a></li>
        <li><a href="https://github.com/khansuleman/Yembis"><i class="fa fa-github-square"></i></a></li>
    </ul>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>