<header>
            <h1 href="#" class="mb-4 text-3xl">Yembis</h1>
            <nav>
               <li><a href="#home" class="mb-4 text-2xl">Home</a> </li> 
                <li><a href="#dashboards" class="mb-4 text-2xl">Dashboards</a> </li>
                <li><a href="#contacts" class="mb-4 text-2xl">About us</a> </li>
                
            </nav>
            </header>
            
            <section class="hero" id="home">
            <div class="background-image" style="background-image: url(../assets/cars_filter.jpg)"></div>
                <div class="hero-content-area">
                <h1>Roadwatch</h1>
                    <h3> The goal of Roadwatch & results</h3>
                <a href="#contacts" class="btn">Learn More</a>
                </div>
                
            </section>
        
        <section class="destinations" id="dashboards">
        <h3 class="title">Dashboards</h3>
           
            <hr>
           
           
        </section>
      
        
    <section class="contact" id="contacts">
		<h3 class="title">About Us</h3>	
		<h4>Yembis &amp; Cipal Schaubroek</h4>



		<hr>
	</section>

	<footer>
		<ul>
			<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
			<li><a href="#"><i class="fa fa-github-square"></i></a></li>
		</ul>
	</footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

